@import "tailwindcss";

:root {
  --background: #182027;
  --foreground: #E1E2E3;
  --pink: #FD73C5;
  --green: #16E912;
  --orange: #EA9D09;
  --dark-blue: #037FF3;
  --light-blue: #43AFDE;
  --yellow: #FFDE48;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-pink: var(--pink);
  --color-green: var(--green);
  --color-orange: var(--orange);
  --color-dark-blue: var(--dark-blue);
  --color-light-blue: var(--light-blue);
  --color-yellow: var(--yellow);
  --font-sans: var(--font-satoshi);
  --font-mono: var(--font-satoshi);
  --font-satoshi: var(--font-satoshi);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-satoshi), sans-serif;
}
